.container
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 200px repeat(2, 1fr) 80px;
    text-align: center;
}

header
{
    grid-area: 1 / 1 / 2 / 4;
    padding-top: 50px;
}

.texteAccueil
{
    grid-area: 2 / 1 / 3 / 4;
    justify-self: center;
    align-self: center;
    font-size: 1.4rem;
    font-weight: normal;
}

.container-centrale a:hover
{
    color : rgb(86, 86, 114);
}

.texteAccueil a
{
    color: var(--thirdColor);
    text-decoration: none;
}

.texteAccueil p:nth-child(1)
{
    font-size: 1.5rem;
}

.texteAccueil p:nth-child(2)
{
    font-size: 1.9rem;
    color: var(--thirdColor);
    margin-bottom: 30px;
}

.texteAccueil p:nth-child(4) span
{
    font-weight: bold;    
}

.monuments
{
    grid-area: 3 / 1 / 4 / 4;
    display: flex;
    justify-content: space-around;
}

.tourEiffel
{
    display: flex;
    flex-direction: column;
}

.tourEiffel a, .bigBen a
{
    color: var(--secondColor);
}

.tourEiffel a:hover, .bigBen a:hover
{
    filter: contrast(50%);
}

.tourEiffel a:last-of-type, .bigBen a:last-of-type
{
    margin-top: 20px;
}

.tourEiffel span, .bigBen span
{
    color: var(--thirdColor);
}

.bigBen
{
    display: flex;
    flex-direction: column;
}

footer
{
    grid-area: 4 / 1 / 5 / 4 ;
    text-align: start;
    padding-left: 30px;
}

footer span
{
    font-size: 0.7rem;
    font-weight: 100;
    margin-left: 20px;
}
