.slider
{
    overflow-y: scroll;
    background-attachment: fixed;
}

.reservation
{
    width: 85%;
    background: var(--darktheme);
    position: absolute;
    right: 15px;
    top: 15px;
}

.contenuOnglet
{
    padding: 20px 0 20px 30px;
}

/* Onglets */
.reservation ul
{
    display: flex;
    border-bottom: 1px solid rgba(124, 122, 122, 0.2);
}

ul li 
{
    list-style-type: none;
    line-height: 45px;
    padding: 0 15px;
}

i
{
    color: var(--secondColor);
}

.activeReservation
{
    background-color: var(--thirdColor);
}

.downReservation
{
    background-color: var(--hovercolor);
}

/* Date et Heure */

.horaires
{
    border-collapse: collapse;
    margin-top: 5px;
}

.horaires thead
{
    border-bottom: 1px solid var(--thirdColor);
}

.horaires td,.horaires th
{
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size: 0.8em;
}

.horaires tbody tr:nth-child(3)
{
    border-bottom: 1px solid var(--thirdColor);
}

.horaires thead th:nth-child(3), .horaires thead th:nth-child(2)
{
    border-right: 1px solid var(--thirdColor);
    border-left: 1px solid var(--thirdColor);
}

.horaires tbody tr td:nth-child(1)
{
    border-right: 1px solid var(--thirdColor);
}

.horaires tbody tr td:last-of-type, .middle
{
    border-left: 1px solid var(--thirdColor);
}

.horaires a
{
    color: var(--thirdColor);
}

/* Menus */

.formMenu
{
    border: 1px solid var(--secondColor);
    width: 300px;
    height: 400px;
    text-align: center;
    display: none;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
} 

.formMenu input, .formMenu label, .formMenu textarea
{
    display: block;
    width: 90%;
    margin: 0 auto;
}

.formMenu label
{
    margin: 5px auto;
}

.formMenu input
{
    height: 50px;
    padding-left: 15px;
}

.formMenu textarea
{
    height: 50px;
    padding: 15px;
}

.formMenu.active 
{
    display: block;
}

.ajouterMenu
{
    background: lightgreen;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000;
    font-weight: bold;
}

.menus
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.carte
{
    border: 1px solid white;
    width: 300px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgMenu
{
    width: 280px;
    height: 180px;
    border-radius: 5px;
}

.intitule
{
    margin: 10px 0;
}

.description
{
    text-align: center;
    color: grey;
    width: 90%;
    font-size: 0.92em;
}



@media screen and (max-width: 1450px)
{
    .reservation
    {
        width: 70%;
    }
}

@media screen and (max-width: 1230px)
{
    .reservation
    {
        width: 75%;

    }
}

@media screen and (max-width: 1200px)
{
    .reservation
    {
        width: 625px;

    }
}

@media screen and (max-width: 1170px)
{
    .reservation
    {
        width: 450px;

    }
}

@media screen and (max-width: 1020px)
{
    .reservation
    {
        width: 400px;

    }
}

@media screen and (max-width: 940px)
{

    .reservation
    {
        top: 5px;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: auto;
    }

    .slider
    {
        background: var(--darktheme);
    }
}

@media screen and (max-width: 390px)
{
    .reservation
    {
        width: 500px;
    }

    .contenuOnglet
    {
        padding: 2px;
    }
}
